
# DJANGO

SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# JWT

JWT_ACCESS_LIFETIME_MINUTES=
JWT_REFRESH_LIFETIME_DAYS=

# CELERY

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
CELERY_TASK_TIME_LIMIT=
CELERY_TASK_ALWAYS_EAGER=
CELERY_TASK_EAGER_PROPAGATES=
